.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid #e9ecef;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
