@using KanbanGamev2.Client.Components
@using KanbanGamev2.Client.Services
@inject KanbanGamev2.Shared.Services.IGameStateService GameStateService
@implements IDisposable

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gamemaster">
                <span class="oi oi-cog" aria-hidden="true"></span> Game Master
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <div class="nav-link">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Kanban Boards
            </div>
            <div class="nav-item px-3 ms-3">
                <NavLink class="nav-link" href="analysis-board">
                    <span class="oi oi-graph" aria-hidden="true"></span> Analysis
                </NavLink>
            </div>
            <div class="nav-item px-3 ms-3">
                <NavLink class="nav-link" href="backend-board">
                    <span class="oi oi-code" aria-hidden="true"></span> Backend
                </NavLink>
            </div>
            <div class="nav-item px-3 ms-3">
                <NavLink class="nav-link" href="frontend-board">
                    <span class="oi oi-monitor" aria-hidden="true"></span> Frontend
                </NavLink>
            </div>
            @if (GameStateService.IsSummaryBoardVisible)
            {
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link" href="summary-board">
                        <span class="oi oi-dashboard" aria-hidden="true"></span> Summary
                    </NavLink>
                </div>
            }
        </div>
        <div class="nav-item px-3">
            <div class="navbar-nav ms-auto">
                <GameStatus />
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        GameStateService.SummaryBoardVisibilityChanged += OnSummaryBoardVisibilityChanged;
    }

    private void OnSummaryBoardVisibilityChanged(bool isVisible)
    {
        StateHasChanged();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        GameStateService.SummaryBoardVisibilityChanged -= OnSummaryBoardVisibilityChanged;
    }
}
